@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/fonts.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h4.title {
  @apply font-desktop-h-4 text-desktop-h-4 leading-desktop-h-4 mb-4;
}

.desc {
  @apply font-desktop-subtitle text-desktop-subtitle leading-desktop-subtitle;
}